# cache/dll files
__pycache__/
*.py[cod]

# environment and development files
.vscode/
venv/
dev/

# temporary files
temp/
temp.*

# output of examples
examples/*.tex
examples/*.pdf

# auxillary/log files
*.aux
*.log
*.out
*.swp