# cache/dll files
__pycache__/
*.py[cod]

# environment files
docs/
venv/
.vscode/

# temporary files
temp/
temp.*

# output of examples
examples/*.tex
examples/*.pdf

# auxillary/log files
*.aux
*.log
*.out
*.swp